/* Main wrapper for grid */
.block-grid {
  font-family: monospace;
  /* for spacing columns correctly */
  letter-spacing: -.65em;
  /* this too */
  margin-left: -1rem;
  margin-right: -1rem;
  text-align: left;
  display: block; }
  .block-grid.align-center {
    text-align: center; }
  .block-grid.align-right {
    text-align: right; }

/* Individual columns */
[class*="column-"] {
  font-family: sans;
  /* be sure to reset the font and letter-spacing */
  letter-spacing: normal;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  float: none;
  text-align: left;
  vertical-align: top;
  /* align row's columns top or baseline */
  box-sizing: border-box; }
  [class*="column-"].align-baseline {
    vertical-align: baseline; }

.column-1 {
  width: 8.33333%; }

.pre-1 {
  margin-left: 8.33333%; }

.post-1 {
  margin-right: 8.33333%; }

.column-2 {
  width: 16.66667%; }

.pre-2 {
  margin-left: 16.66667%; }

.post-2 {
  margin-right: 16.66667%; }

.column-3 {
  width: 25%; }

.pre-3 {
  margin-left: 25%; }

.post-3 {
  margin-right: 25%; }

.column-4 {
  width: 33.33333%; }

.pre-4 {
  margin-left: 33.33333%; }

.post-4 {
  margin-right: 33.33333%; }

.column-5 {
  width: 41.66667%; }

.pre-5 {
  margin-left: 41.66667%; }

.post-5 {
  margin-right: 41.66667%; }

.column-6 {
  width: 50%; }

.pre-6 {
  margin-left: 50%; }

.post-6 {
  margin-right: 50%; }

.column-7 {
  width: 58.33333%; }

.pre-7 {
  margin-left: 58.33333%; }

.post-7 {
  margin-right: 58.33333%; }

.column-8 {
  width: 66.66667%; }

.pre-8 {
  margin-left: 66.66667%; }

.post-8 {
  margin-right: 66.66667%; }

.column-9 {
  width: 75%; }

.pre-9 {
  margin-left: 75%; }

.post-9 {
  margin-right: 75%; }

.column-10 {
  width: 83.33333%; }

.pre-10 {
  margin-left: 83.33333%; }

.post-10 {
  margin-right: 83.33333%; }

.column-11 {
  width: 91.66667%; }

.pre-11 {
  margin-left: 91.66667%; }

.post-11 {
  margin-right: 91.66667%; }

.column-12 {
  width: 100%; }

.pre-12 {
  margin-left: 100%; }

.post-12 {
  margin-right: 100%; }
